<div class="recuperacao-form-container">
    <h2>Problemas com autenticação</h2>
    <p>
        Se possuir um email institucional cadastrado no ambiente virtual de aprendizagem Cobracoral, preencha o campo abaixo com seu endereço de email institucional para obter uma senha temporária para recuperação de cadastro dentro de 24 horas. Caso não haja cadastro com o email institucional informado, preencha o campo abaixo com seu email pessoal para enviar um pedido de cadastro/recuperação de conta aos administradores de sua instituição. Considere verificar, contudo, possíveis erros de digitação.
    </p>
	<%= form_for(:session) do |f| %>
		<div class="form-group">
			<%= f.label :email, 'Email para recuperação: '%>
			<%= f.email_field :email, required: 'true', class: 'input-text' %>
		</div>
		<div class="button-group">
            <a href="/entrar">
                <button type="button" class="act-button">
                    Voltar
                </button>
            </a>
			<button type="submit" class="act-button">
				Enviar
			</button>
		</div>
    <% end %>
</div>
