<nav>
	<h1>Deseja realmente apagar a disciplina <%= @disciplina.nome_disciplina %>?</h1>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <%= render CobraButtonComponent.new(
            text: 'Cancelar',
            href: '/disciplinas/' + @disciplina.id.to_s + '/editar')
        %>
        <%= button_to "Deletar", @turma, class: "act-button", method: :delete %>
    </div>
</nav>
