<%= render CobraModalComponent.new() do %>
    <h2>Deseja realmente apagar a disciplina <%= @disciplina.nome_disciplina %>?</h2>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <%= render CobraButtonComponent.new(
            text: 'Cancelar',
            href: '/disciplinas/' + @disciplina.id.to_s + '/editar')
        %>
        <%= render CobraButtonComponent.new(
            text: 'Deletar',
            href: '/disciplinas/' + @disciplina.id.to_s + '/destroy',
            enable_turbo: false)
        %>
    </div>
<% end %>
