<nav>
	<h1>Deseja realmente apagar a disciplina <%= @disciplina.nome_disciplina %>?</h1>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <a href="/disciplinas/<%= @disciplina.id %>/editar">
            <button class="act-button">
                Cancelar
            </button>
        </a>
        <%= button_to "Deletar", @turma, class: "act-button", method: :delete %>
    </div>
</nav>
