<nav>
  <%= button_to "Destroy this disciplina", @disciplina, method: :delete %>
  <%= render "form", disciplina: @disciplina %>

  <div class="disciplina_conteudos_container">
    <ol>
      <%= render @unidades_disciplina, estaEditando: true %>
    </ol>
  </div>
</nav>