<nav>
  <p style="color: green"><%= notice %></p>

  <h1>Todas as disciplinas</h1>

  <div id="disciplinas" class="disciplinas-container">
    <% @disciplinas.each do |disciplina| %>
      <%= render disciplina %>
    <% end %>
  </div>

  <%= link_to "Adicionar disciplina", new_disciplina_path, remote: true %>
</nav>
