<nav>
	<h1>Deseja realmente apagar a turma <%= @turma.nome_turma %>?</h1>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <%= render CobraButtonComponent.new(
            text: 'Cancelar',
            href: '/turmas/' + @turma.id.to_s + '/editar')
        %>
        <%= button_to "Deletar", @turma, class: "cobra-button", method: :delete %>
    </div>
</nav>
