<div id="barra-lateral-preferencias" style="visibility: hidden; opacity: 0%;">
    <div style="display: flex; align-items: center; justify-content: space-between">
        <h2>
            Preferências
        </h2>
        <section onclick="abrirBarraPreferencias()" style="cursor: pointer;">
            X
        </section>
    </div>

    <div>
        <%= form_with(model: @preferencia_usuario) do |f| %>
        <h3>Aparência</h3>
        <div class="form-group" style="display: flex; align-items:center; justify-content: space-between;">
            <%= f.label :tema, "Tema:" %>
            <div class="select-box-preferencias">
                <%= f.select :turno_turma,
                    options_for_select([['Sim', true], 'Tarde', 'Noite'], 'Tarde')
                %>
            </div>
        </div>
    </div>
    <% end %>
</div>
