<div id="barra-lateral-preferencias" style="visibility: hidden; opacity: 0%;" onclick="abrirBarraPreferencias()">
    <h2>
        Preferências
    </h2>
    <span>
        Semestre
    </span>
    <ul>
    <li>
    </li>
    </ul>
</div>
