<div class="button-group">
    <%= render CobraButtonComponent.new(
        text: 'Cancelar',
        href: @cancel_url,
        close_modal: @close_modal)
    %>
    <%= render CobraButtonComponent.new(
        text: 'Salvar',
        submit: true,
        close_modal: @close_modal)
    %>
</div>
