<%= turbo_frame_tag "cobra-modal" do %>
    <div class="cobra-modal-background"></div>
    <%= tag.div data: {
            controller: "cobra-modal",
            turbo_modal_target: "cobra-modal",
            action: "
                turbo:submit-end->cobra-modal#submitEnd
                keyup@window->cobra-modal#closeWithKeyboard
                click@windows->cobra-modal#closeBackground"
        }, class: "modal-transition-in",
        role: "dialog" do %>
        <%= content %>
    <% end %>
<% end %>
