<div id="context-menu-component" style="visibility: hidden;">
    <ul id="context-menu-options" style="opacity: 0%;">
        <li>
            <i class="fa-solid fa-magnifying-glass fa-sm"></i>
            <span>Pesquisar</span>
        </li>
        <li>
            <i class="fa-solid fa-link fa-sm"></i>
            <span>Abrir link</span>
        </li>
        <li>
            <i class="fa-solid fa-image fa-sm"></i>
            <span>Abrir imagem</span>
        </li>
        <li>
            <i class="fa-solid fa-square fa-sm"></i>
            <span>Selecionar tudo</span>
        </li>
        <li>
            <i class="fa-solid fa-scissors fa-sm"></i>
            <span>Recortar</span>
        </li>
        <li>
            <i class="fa-solid fa-copy fa-sm"></i>
            <span>Copiar</span>
        </li>
        <li>
            <i class="fa-solid fa-clipboard fa-sm"></i>
            <span>Colar</span>
        </li>
    </ul>
</div>
