<div class="medidor-container">
    <div class="medidor-grafico">
        <div class="medidor-grafico-max"></div>
        <div class="medidor-grafico-atual"></div>
        <span class="medidor-grafico-valor"><%= @valor_entrada %></span>
    </div>
    <h5>
        <%= @medidor_titulo %>
        <a href="">
            <i class="fa-solid fa-pie-chart fa-lg icon-button"></i>
        </a>
    </h5>
</div>
