<% if @pomodoro_ativado %>
    <div class="medidor-container">
        <div class="medidor-grafico">
            <div class="medidor-grafico-max"></div>
            <div class="medidor-grafico-atual"></div>
            <span class="medidor-grafico-valor">15m</span>
        </div>
        <h3>Pomodoro</h3>
    </div>
<% end %>
