<div id="<%= dom_id conteudo %>">
  <p>
    <strong>Unidade disciplina:</strong>
    <%= conteudo.unidade_disciplina_id %>
  </p>

  <p>
    <strong>Nome conteudo:</strong>
    <%= conteudo.nome_conteudo %>
  </p>

</div>
