<nav>
  <%= link_to "Criar conteúdo", new_conteudo_path %>

  <h1>Todos os conteúdos</h1>

  <div id="conteudos">
    <% @conteudos.each do |conteudo| %>
        <p>
          <%= link_to conteudo.nome_conteudo, conteudo %>
        </p>
      </div>
    <% end %>
  </div>
</nav>