<nav>
  <a href="/disciplinas/<%= @disciplina_conteudo.id %>">
    <i class="fa-solid fa-arrow-left fa-sm"></i>
    Voltar para <strong><%= @disciplina_conteudo.nome_disciplina %></strong>
  </a>
  <%= render "form", conteudo: @conteudo %>
</nav>
