<div id="<%= dom_id leitura_conteudo %>">
  <p>
    <strong>Conteudo:</strong>
    <%= leitura_conteudo.conteudo_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= leitura_conteudo.usuario_id %>
  </p>

  <p>
    <strong>Conclusao:</strong>
    <%= leitura_conteudo.conclusao %>
  </p>

</div>
