<nav>
  <p style="color: green"><%= notice %></p>

  <h1>Tarefas</h1>

  <div class="tarefas-container">
    <div class="tarefa-coluna">
      <h3>A fazer</h3>
      <div class="tarefa-coluna-linha">
        <%= render @tarefasAFazer %>
      </div>
    </div>
    <div class="tarefa-coluna">
      <h3>Fazendo</h3>
      <div class="tarefa-coluna-linha">
        <%= render @tarefasFazendo %>
      </div>
    </div>
    <div class="tarefa-coluna">
      <h3>Feitas</h3>
      <div>
        <%= render @tarefasFeitas %>
      </div>
    </div>
  </div>
</nav>