<header>
    <h1>Cobracoral</h1>
    <ul>
        <li>
            <a href="#">Início</a>
        </li>
        <li>
            <a href="#sobre">Sobre</a>
        </li>
        <li>
            <a href="#experimentar">Experimentar</a>
        </li>
        <li>
            <a href="#download">Download</a>
        </li>
        <li>
            <a href="#aprender">Aprender</a>
        </li>
    </ul>
</header>
<div class="inicio-banner">
</div>
<nav>
    <p id="">
        Cobracoral é radical e sensacional
    </p>
    <h1>O que é Cobracoral?</h1>
    <p id="sobre">
        Cobracoral foi feito por Ewerton Bramos em 2022, inicialmente como um passatempo para compreender o funcionamento das linguagens de programação.
    </p>
    <h1>Experimente Cobracoral</h1>
    <p id="experimentar">
        <iframe></iframe>
    </p>
    <h1>Baixe Cobracoral</h1>
    <p id="download">
        <button class="act-button">Baixar Cobracoral v1.0</button>
        <a>Outras versões</a>
    </p>
    <h1>Aprenda Cobracoral</h1>
    <p id="aprender">
        <h2>Aritmética</h2>
        <h2>Lógica</h2>
        <h2>Repetição</h2>
    </p>
</nav>
<footer>
    Ewerton Bramos - 2024
</footer>