<div class="inicio-banner">
</div>
<nav>
    <section>
        <h1>Cobracoral é
            <span class="word-sort">radical</span> e
            <span class="word-sort">sensacional</span>
        </h1>
    </section>
    <h1>O que é Cobracoral?</h1>
    <section id="sobre">
        Cobracoral foi feito por Ewerton Bramos em 2022, inicialmente como um passatempo para compreender o funcionamento das linguagens de programação.

        <div class="cards-container">
            <div class="card">
                <div class="card-verso">
                    <p>Cobracoral é simples e prático de se programar com sua sintaxe simples.</p>
                </div>
                <div class="card-frente">
                    <h2>Educação</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-verso">
                    <p>Cobracoral é simples e prático de se programar com sua sintaxe simples.</p>
                </div>
                <div class="card-frente">
                    <h2>Robótica</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-verso">
                    <p>Cobracoral é simples e prático de se programar com sua sintaxe simples.</p>
                </div>
                <div class="card-frente">
                    <h2>Jogos</h2>
                </div>
            </div>
        </div>
    </section>
    <h1>Experimente Cobracoral</h1>
    <section id="experimentar">
        <!--iframe id="python-console-embedded" name="embedded_python_anywhere" src="https://www.pythonanywhere.com/embedded3/"></iframe-->
    </section>
    <h1>Baixe Cobracoral</h1>
    <section id="download">
        <button class="act-button">Baixar Cobracoral v1.0</button>
        <a href="/instalar">Outras versões</a>
    </section>
    <h1>Aprenda Cobracoral</h1>
    <section id="aprender">
        <p>
            Tem muita coisa pra aprender.
        </p>
        <a href="/aprender">
            <button class="act-button">
                Aprender mais!
            </button>
        </a>
    </section>
    <h1>Publique Cobracoral</h1>
    <section id="publicar">
        Envie seu script .cbr para o site para compartilhar com outras pessoas!
    </section>
</nav>