<%= form_with(model: curso) do |form| %>
  <h1>
    <%= form.text_field :nome_curso, class: "titulo-pagina page-edit-input" %>
  </h1>
  <h3>Descrição do curso</h3>
  <%= form.text_area :descricao, cols: 130, rows: 5 %>

  <%= form.submit %>
<% end %>
