<%= render CobraModalComponent.new() do %>
    <h2>Deseja realmente apagar o curso <%= @curso.nome_curso %>?</h2>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <%= render CobraButtonComponent.new(
            text: 'Cancelar',
            href: '/cursos/' + @curso.id.to_s + '/editar')
        %>
        <%= render CobraButtonComponent.new(
            text: 'Deletar',
            href: '/cursos/' + @curso.id.to_s + '/destroy',
            enable_turbo: false)
        %>
    </div>
<% end %>
