<nav>
	<h1>Deseja realmente apagar o curso <%= @curso.nome_curso %>?</h1>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <a href="/cursos/<%= @curso.id %>/editar">
            <button class="act-button">
                Cancelar
            </button>
        </a>
        <%= button_to "Deletar", @curso, class: "act-button", method: :delete %>
    </div>
</nav>
