<nav>
	<h1>Deseja realmente apagar o curso <%= @curso.nome_curso %>?</h1>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <%= render CobraButtonComponent.new(
            text: 'Cancelar',
            href: '/cursos/' + @curso.id.to_s + '/editar')
        %>
        <%= button_to "Deletar", @curso, class: "act-button", method: :delete %>
    </div>
</nav>
