<nav>
  <h1>Adicionar curso</h1>
  <a href="<%= cursos_path %>">
    <i class="fa-solid fa-arrow-left fa-sm"></i>
    Voltar para <strong>todos os cursos</strong>
  </a>
  <%= render "form", curso: @curso %>
</nav>
