<nav>
    <h1>
        <%= @curso.nome_curso %>
    </h1>
	<div>
        <h2>Minhas turmas</h2>
        <h5>Criar Turma</h4>
        <%= render partial: "layouts/nova_turma_form" %>
        <%= render @turmas %>
    </div>
    <div>
        <h2>Minhas disciplinas</h2>
        <div class="disciplinas-container">
            <%= render @disciplinas %>
        </div>
    </div>
</nav>