<nav>
    <h1>Aprenda Cobracoral</h1>
    <section id="aprender-sumario">
        <ol>
            <li>Introdução</li>
            <li>Instalação</li>
            <li>Operações lógicas e aritméticas</li>
            <li>Entrada e saída</li>
            <li>Estruturas de condição</li>
            <li>Estruturas de repetição</li>
            <li>Estruturas de tentativa e erro</li>
            <li>Programação orientada a objetos</li>
            <li>Expressões regulares</li>
            <li>Utilizando ponteiros</li>
        </ol>
    </section>
    <section id="aprender-content">
        <h2>Aritmética</h2>
        <h2>Lógica</h2>
        <h2>Repetição</h2>
    </section>
</nav>