<nav>
    <h1>Instale Cobracoral</h1>
    <section id="instalar-content">
        <h2>Cobracoral para Linux</h2>
        <h3>flatpak</h3>
        <h3>appimage</h3>
        <h2>Cobracoral para Windows</h2>
        <h2>Cobracoral para Mac</h2>
    </section>
    <section id="instalar-summary">
        <ol>
            <li>Cobracoral 1.0.0</li>
            <li>Cobracoral 1.0.0</li>
        </ol>
    </section>
</nav>