<turbo-frame id="cobra-modal">
  <div class="cobra-modal-background"></div>
  <div data-controller="cobra-modal"
    data-action="
      turbo:submit-end -> cobra-modal#hide
      keydown.esc -> cobra-modal#hide
    "
    role="dialog"
    tabindex="-1"
    class="modal-transition-in">
        <h2>Deseja realmente apagar este comunicado?</h2>
        <p>
            Não será possível desfazer as alterações.
        </p>
        <div class="button-group">
            <%= render CobraButtonComponent.new(
                text: 'Cancelar',
                href: '/comunicados')
            %>
            <%= render CobraButtonComponent.new(
                text: 'Deletar',
                href: '/comunicados/' + @comunicado.id.to_s + '/destroy',
                enable_turbo: false)
            %>
        </div>
    </div>
</turbo-frame>
