<%= render CobraModalComponent.new() do %>
    <h2>Deseja realmente apagar este comunicado?</h2>
    <p>
        Não será possível desfazer as alterações.
    </p>
    <div class="button-group">
        <%= render CobraButtonComponent.new(
            text: 'Cancelar',
            href: '/comunicados')
        %>
        <%= render CobraButtonComponent.new(
            text: 'Deletar',
            href: '/comunicados/' + @comunicado.id.to_s + '/destroy',
            enable_turbo: false)
        %>
    </div>
<% end %>
