<h1>Editing comunicado</h1>

<%= render "form", comunicado: @comunicado %>

<br>

<div>
  <%= link_to "Show this comunicado", @comunicado %> |
  <%= link_to "Back to comunicados", comunicados_path %>
</div>
