<p style="color: green"><%= notice %></p>

<h1>Comunicados</h1>

<div id="comunicados">
  <% @comunicados.each do |comunicado| %>
    <%= render comunicado %>
    <p>
      <%= link_to "Show this comunicado", comunicado %>
    </p>
  <% end %>
</div>

<%= link_to "New comunicado", new_comunicado_path %>
