<nav>
  <div class="deslizar-transition">
    <h1>Comunicados</h1>
    <% if @comunicados %>
      <% if policy(@comunicado).new? %>
        <%= link_to "New comunicado", new_comunicado_path, remote: true, data: { turbo_frame: "cobra-modal" } %>
      <% end %>
      <div>
        <%= render @comunicados %>
      </div>
    <% else %>
      <p>
        Você está em dia.
      </p>
    <% end %>
  </div>
</nav>
