<nav>
  <div class="deslizar-transition">
    <p style="color: green"><%= notice %></p>

    <h1>Comunicados</h1>
    <% if policy(@comunicado).new? %>
      <%= link_to "New comunicado", new_comunicado_path %>
    <% end %>
    <div>
      <%= render @comunicados %>
    </div>
  </div>
</nav>
