<nav>
  <div class="deslizar-transition">
    <a href="/comunicados">
      <i class="fa-solid fa-arrow-left fa-sm"></i>
      Voltar para <strong>comunicados</strong>
    </a>

    <%= render @comunicado %>
  </div>
</nav>
