<a href="/usuarios/<%= usuario.id %>">
	<div class="usuario-button">
		<div class="usuario-button-icon"></div>
		<div class="usuario-button-name">
			<%= usuario.nome_completo %>
		</div>
	</div>
</a>
