<div class="inicio-banner">
    <img src="<%= @usuario.profile_pic %>" alt="">
    <div class="usuario-banner-icon photo-upload">
        <i class="fa-solid fa-camera fa-lg"></i>
    </div>
</div>
<nav>
    <h1>Editar perfil</h1>

    <%= render "form", usuario: @usuario_autenticado %>
</nav>
