<nav>
    <h1><%= @usuario.nome_completo %></h1>
    
    <ul>
        <li>
            Email institucional: <%= @usuario.email %>
        </li>
        <li>
            Telefone: <%= @usuario.telefone %>
        </li>
    </ul>
</nav>