/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "./themes/theme-default.scss";
@import "./actiontext.css";
@import "./components.scss";
@import "./curso.scss";
@import "./pages.scss";

.select-disable {
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

body {
  color: var(--text-color);
  background-color: var(--main-color);
  font-family: "Rubik", sans-serif;
  margin: 0px;
}

a {
  color: var(--nav-link);
  text-decoration: none;
}

[tooltip-text] {
  position: relative;
}

[tooltip-text]:after {
  content: attr(tooltip-text);
  color: ghostwhite;
  font-weight: bold;
  font-size: 10pt;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  padding: 0.5vw;
  transition-duration: .2s;
  margin: 0px;
  left: 10%;
  bottom: 110%;
  white-space: nowrap;
  opacity: 0%;
  z-index: 100;
  transform: translateY(-10px);
  visibility: hidden;
  position: absolute;
}

[tooltip-text]:hover:after {
  opacity: 100%;
  transition-duration: .2s;
  visibility: visible;
  transform: translateY(0px);
}

@keyframes deslizar {
  0% {
    opacity: 0%;
    transform: translateX(-2vw);
  }
  100% {
    opacity: 100%;
    transform: translateX(0vw);
  }
}

h1 {
  font-size: 26pt;
}

p {
  line-height: 22pt;
}

.deslizar-transition {
  animation: deslizar .5s ease-out forwards;
}

header, div.inicio-banner, nav, footer {
  max-width: 100%;
}

@keyframes cobracoral-logo {
  0% { transform: rotate(-80deg); }
  100% { transform: rotate(0); }
}

svg.cobracoral-icon {
  width: 10vw;
  max-height: 4vw;

  .g-mask path {
    transform-origin: center;
    animation: cobracoral-logo 1s ease-out forwards;
    transform: rotate(-80deg);
    transition-duration: .2s;

    &#cobracoral-icon-color-1 {
      fill: var(--cobracoral-icon-color-1);
    }

    &#cobracoral-icon-color-2 {
      fill: var(--cobracoral-icon-color-2);
    }

    &#cobracoral-icon-color-3 {
      fill: var(--cobracoral-icon-color-3);
    }

    &:hover {
      filter: contrast(150%);
    }
  }
}

@keyframes iniciarAVA {
  0% { padding-top: 80vw; }
  100% { padding-top: 0vw; }
}

.header-animation {
  animation: iniciarAVA 1s ease-out;
  animation-fill-mode: forwards;
}

header#cobracoral-header {
  background-color: var(--main-color);
  padding: 0vw 10vw 0vw 3vw;
  max-height: 30vh;
  align-items: center;
  display: flex;

  button.icon-button {
    background-color: var(--main-color);
    color: black;
    border: none;
    transition-duration: .2s;
    width: 5vw;
    height: 5vw;
    cursor: pointer;

    &:hover {
      color: var(--white-main);
    }
  }

  div.header-logo {
    width: 40vw;
    align-items: center;

    div.header-logo-svg {
      max-width: 7vw;
      display: inline-block;

      svg {
        float: left;
      }
    }

    div.header-logo-info {
      color: var(--red-dark);
      max-width: 30vw;
      display: inline-block;
      position: relative;

      h1 {
        color: var(--red-dark);
        transition-duration: .2s;
        font-size: 26pt;
        margin: 0px;
        
        &:hover {
          filter: brightness(200%);
        }
      }

      span {
        font-size: 8pt;
        display: block;
        opacity: 60%;
      }
    }
  }

  ul {
    width: 70%;
    text-align: right;
    flex: 2;

    li {
      display: inline-block;

      button.abrir-menu:hover #menu-perfil{
        visibility: visible;
        opacity: 100%;
      }

      #menu-perfil {
        color: var(--white-main);
        background-color: var(--main-color);
        transition-duration: .2s;
        visibility: hidden;
        position: absolute;
        min-width: 15vw;
        padding: 20px;
        opacity: 0%;
        top: 12vh;
        right: 4vw;
        z-index: 10;
        cursor: default;

        ul {
          width: 100%;
          padding: 0px;
          
          li {
            font-weight: bold;
            text-align: left;
            display: block;
            margin: 0px;
            margin-bottom: 10px;
            width: 100%;

            a {
              color: var(--white-main);
              transition-duration: .2s;

              i {
                margin-right: 10px;
              }
            }
            a:hover {
              color: var(--red-dark);
            }
          }
        }
      }

      #menu-perfil:hover {
        visibility: visible;
        opacity: 100%;
      }
    }
  }
}

.menu-perfil-usuario-cargo {
  margin-top: 0px;
}

div.inicio-banner {
  background-color: var(--main-color);
  min-height: 30vh;
}

nav {
  background-color: var(--nav-bg);
  padding: 5vh 10vw 5vh 10vw;

  h1 {
    font-size: 26pt;
  }

  section {
    line-height: 25pt;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    border-bottom: 1px #ffbfbf solid;
  }
}

.colunas-container .coluna {
  width: 45%;
  vertical-align: top;
  display: inline-block;
}
