/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  background-color: #ff3434;
  font-family: "Rubik", sans-serif;
  margin: 0px;
}

a {
  color: #471313;
  text-decoration: none;
}

@keyframes deslizar {
  0% {
    opacity: 0%;
    transform: translateX(-2vw);
  }
  100% {
    opacity: 100%;
    transform: translateX(0vw);
  }
}

h1 {
  font-size: 26pt;
}

p {
  line-height: 22pt;
}

.deslizar-transition {
  animation: deslizar .5s ease-out forwards;
}

header, div.inicio-banner, nav, footer {
  max-width: 100%;
}

@keyframes cobracoral-logo {
  0% { transform: rotate(-80deg); }
  100% { transform: rotate(0); }
}

svg.cobracoral-icon {
  width: 10vw;
  max-height: 4vw;

  .g-mask path {
    transform-origin: center;
    animation: cobracoral-logo 1s ease-out forwards;
    transform: rotate(-80deg);
    transition-duration: .2s;

    &:hover {
      filter: brightness(150%);
    }
    &:nth-child(2){
      animation-delay: .1s;
    }
    &:nth-child(3){
      animation-delay: .2s;
    }
  }
}

.act-button {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  border: 3px solid #ff3434;
  background-color: rgba(0,0,0,0);
  padding: 1rem;
  cursor: pointer;
  transition-duration: .2s;
  position: relative;
  
  &:before {
    content: '';
    background-color: #ff3434;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .2s;
    z-index: -1;
  }
  &:hover {
    color: #ffffff;

    &:before{
      width: 100%;
    }
  }
}

header {
  background-color: #ff3434;
  padding: 0vw 10vw 0vw 10vw;
  max-height: 20vh;
  align-items: center;
  display: flex;

  div.header-logo {
    width: 20%;
    align-items: center;
    flex: 1;

    h1, svg {
      display: inline-block;
    }
    
    h1 {
      transition-duration: .2s;
      &:hover {
        filter: brightness(200%);
      }
    }
  }

  ul {
    width: 70%;
    text-align: right;
    flex: 2;

    li {
      margin-right: 1rem;
      display: inline-block;

      button.act-button {
        border-color: #000000;

        &:before {
          background-color: #000000;
        }
      }

      button.abrir-menu:hover #menu-perfil{
        visibility: visible;
      }

      #menu-perfil {
        background-color: #ff3434;
        transition-duration: .2s;
        visibility: hidden;
        position: absolute;
        min-width: 15vw;
        padding: 20px;
        opacity: 0%;
        top: 0vh;
        right: 0px;

        ul {
          width: 100%;
          padding: 0px;
          
          li {
            text-align: left;
            display: block;
            margin: 0px;
            margin-bottom: 5px;
            width: 100%;

            a {
              color: #ffffff;
              transition-duration: .2s;
            }
            a:hover {
              color: #471313;
            }
          }
        }
      }

      #menu-perfil:hover {
        visibility: visible;
        opacity: 100%;
      }
    }
  }
}

.menu-perfil {
  z-index: 20;
}

.menu-perfil .medidor-container {
  text-align: center;
  display: inline-block;
  margin: 1vw;
}

.menu-perfil .medidor-container .medidor-grafico {
  min-width: 5vw;
  min-height: 5vw;
  position: relative;
}

.menu-perfil .medidor-container .medidor-grafico .medidor-grafico-max {
  border: 10px solid rgb(255, 255, 255);
  border-radius: 100%;
  position: absolute;
  min-width: 5vw;
  min-height: 5vw;
  top: 0px;
}

.menu-perfil .medidor-container .medidor-grafico .medidor-grafico-atual {
  border: 10px solid rgb(0, 0, 0);
  border-radius: 100%;
  position: absolute;
  min-width: 5vw;
  min-height: 5vw;
  top: 0px;
}

.menu-perfil .medidor-container .medidor-grafico .medidor-grafico-valor {
  text-align: center;
  font-weight: bold;
  min-width: 5vw;
  top: 2.5vw;
  left: 0.7vw;
  position: absolute;
}

div.inicio-banner {
  background-color: #ff3434;
  min-height: 30vh;
}

nav {
  background-color: white;
  padding: 5vh 10vw 5vh 10vw;

  section {
    line-height: 25pt;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    border-bottom: 1px #ffbfbf solid;
  }
}

footer {
  text-align: center;
  padding: 10vh 10vw 10vh 10vw;
  background-color: #ff3434;
}