.modal-adicionar {
    background-color: ghostwhite;
    border-radius: 20px;
    padding: 5vw;
    margin: 5vw 30vw 5vw 30vw;
    position: absolute;
    z-index: 10;
}

.disciplinas-container {
    display: block;
    margin: 0px 5vw 0px 5vw;
}

.disciplinas-container .disciplina-thumbnail {
    display: inline-block;
    border-radius: 50px;
    transition-duration: .2s;
    transform: translateY(0px);
    width: 30vw;
    margin: 5px;
}

.disciplinas-container .disciplina-thumbnail:hover {
    transform: translateY(-10px);
}

.disciplinas-container .disciplina-thumbnail .disciplina-thumbnail-img {
    background-color: black;
    border-radius: 50px 50px 0px 0px;
    min-width: 100%;
    min-height: 10vw;
}

.disciplinas-container .disciplina-thumbnail .disciplina-thumbnail-info {
    background-color: ghostwhite;
    border-radius: 0px 0px 50px 50px;
    padding: 30px;
}

.disciplinas-container .disciplina-thumbnail .disciplina-thumbnail-info h3 {
    margin: 0px;
}

.titulo-pagina {
    font-size: 26pt;
}

.page-edit-input {
    border: none;
    border-bottom: 2px solid black;
}

.disciplina_info_container {
    display: block;
}

.disciplina_info_container .disciplina_info {
    width: 70%;
    display: inline-block;
}

.disciplina_info_container .disciplina_medidores {
    width: 20%;
    display: inline-block;
}

.disciplina_info_container .disciplina_medidores h5 {
    min-width: 5vw;
    margin: none;
}

.disciplina_info_container .disciplina_medidores .medidor-container {
    text-align: center;
    display: inline-block;
    margin: 1vw;
}

.disciplina_info_container .disciplina_medidores .medidor-container .medidor-grafico {
    min-width: 5vw;
    min-height: 5vw;
    position: relative;
}

.disciplina_info_container .disciplina_medidores .medidor-container .medidor-grafico .medidor-grafico-max {
    border: 10px solid gray;
    border-radius: 100%;
    position: absolute;
    min-width: 5vw;
    min-height: 5vw;
    top: 0px;
}

.disciplina_info_container .disciplina_medidores .medidor-container .medidor-grafico .medidor-grafico-atual {
    border: 10px solid red;
    border-radius: 100%;
    position: absolute;
    min-width: 5vw;
    min-height: 5vw;
    top: 0px;
}

.disciplina_info_container .disciplina_medidores .medidor-container .medidor-grafico .medidor-grafico-valor {
    text-align: center;
    font-weight: bold;
    min-width: 5vw;
    top: 2.5vw;
    left: 0.7vw;
    position: absolute;
}

.conteudo-button {
    background-color: ghostwhite;
    border-radius: 50px;
    transition-duration: .2s;
    padding: 20px 50px 20px 50px;
    margin-bottom: 10px;
}

.conteudo-button:hover {
    transform: translateX(10px);
}

.conteudo-button h5 {
    margin: 0px;
}