.usuario-banner-icon, .usuario-banner-photo {
    background-color: var(--red-secondary);
    border-radius: 100%;
    font-size: 32pt;
    margin: 0vw 46vw 0vw 46vw;
    top: 15vh;
    position: relative;
}

.usuario-banner-icon {
    width: 4vw;
    height: 4vw;
    padding: 2vw;
}

.usuario-banner-photo {
    width: 8vw;
    height: 8vw;

    img {
        border-radius: 100%;
        width: 8vw;
        height: 8vw;
        display: block;
    }
}

.photo-upload {
    position: relative;

    .fa-camera {
        transition-duration: .2s;
        opacity: 50%;
        z-index: 5;
        position: relative;
    }

    &:hover .fa-camera {
        opacity: 100%;
        cursor: pointer;
    }
}

.comunicado-container {
    background-color: var(--container-bg);
    border-radius: 50px;
    padding: 2vw;
    margin: 1vh 10vw 1vh 10vw;

    &.novo {
        box-shadow: 0px 0px 10px var(--main-color);
    }

    .comunicado-info {
        width: 90%;
        display: inline-block;
    }

    .comunicado-usuario-info {
        font-size: 10pt;
        color: gray;
        display: block;
    }

    .comunicado-data {
        font-size: 10pt;
        color: gray;
        display: block;
        margin-bottom: 10px;
    }

    .comunicado-actions {
        text-align: right;
        vertical-align: top;
        display: inline-block;
    }

    p {
        margin: 0px;
    }

    .comunicado-imagens img {
        width: 100%;
    }

    .comunicado-reacoes {
    
        button.comunicado-reacao-button {
            font-size: 12pt;
            background-color: var(--container-bg);
            transition-duration: .2s;
            border: none;
        

            &:hover {
                color: var(--main-color);
                cursor: pointer;
            }
        }
    }
}

.tarefas-container {
    min-height: 80vh;
    display: block;

    .tarefa-coluna {
        vertical-align: top;
        padding: 10px;
        width: 30%;
        min-height: 80vh;
        display: inline-block;

        .tarefa-coluna-linha {
            padding: 0px 10px 0px 10px;
            border-right: 2px solid var(--container-bg);
        }
    }
}

iframe#python-console-embedded {
    width: 100%;
    height: 50vh;
    border: none;
}

div.cards-container {
    div.card {
        border: 3px solid var(--main-color);
        width: 30%;
        height: 20vh;
        display: inline-block;
        position: relative;

        div.card-frente {
            position: relative;

            h2 {
                padding: 10px;
            }
        }
        div.card-verso {
            width: 100%;
            height: 20vh;
            color: var(--white-main);
            background-color: var(--main-color);
            transition-duration: .2s;
            position: relative;
            display: none;
            opacity: 0%;
            z-index: 1;

            p {
                margin: 0px;
                padding: 10px;
                border: none;
            }
        }

        &:hover {
            div.card-frente {
                display: none;
                opacity: 0%;
            }
            div.card-verso {
                display: block;
                opacity: 100%;
            }
        }
    }
}
