.usuario-banner-icon, .usuario-banner-photo {
    background-color: var(--red-secondary);
    border-radius: 100%;
    font-size: 32pt;
    margin: 0vw 46vw 0vw 46vw;
    top: 15vh;
    position: relative;
}

.usuario-banner-icon {
    width: 4vw;
    height: 4vw;
    padding: 2vw;
}

.usuario-banner-photo {
    width: 8vw;
    height: 8vw;

    img {
        border-radius: 100%;
        width: 8vw;
        height: 8vw;
        display: block;
    }
}

.photo-upload {
    position: relative;

    .fa-camera {
        transition-duration: .2s;
        opacity: 50%;
        z-index: 5;
        position: relative;
    }

    &:hover .fa-camera {
        opacity: 100%;
        cursor: pointer;
    }
}

.comunicado-container {
    background-color: var(--container-bg);
    border-radius: 50px;
    padding: 2vw;
    margin: 1vh 10vw 1vh 10vw;

    &.comunicado-novo {
        box-shadow: 0px 0px 10px var(--main-color);
    }

    .comunicado-info {
        width: 90%;
        display: inline-block;

        .usuario-button:hover {
            transform: none;
        }
    }

    .comunicado-usuario-info {
        font-size: 10pt;
        color: var(--gray-color);
        display: block;
    }

    .comunicado-data {
        font-size: 10pt;
        color: var(--gray-color);
        display: block;
        margin-bottom: 10px;
    }

    .comunicado-actions {
        text-align: right;
        vertical-align: top;
        display: inline-block;

        a {
            margin-left: 10px;
        }
    }

    .comunicado-form-body trix-editor.trix-content {
        max-height: 60vh !important;
        overflow-y: scroll;
    }

    p {
        margin: 0px;
    }

    .comunicado-imagens img {
        width: 100%;
    }

    .comunicado-reacoes {
        .comunicado-reacoes-publicas {
            margin-bottom: 2px;

            .comunicado-reacao-icon {
                font-size: 9pt;

                strong {
                    font-size: 10pt;
                }
            }

            .comunicado-reacoes-buttons {
                background-color: var(--container-bg);
                border-radius: 25px;
                box-shadow: 2px 2px 5px black;
                transition-duration: .2s;
                padding: 10px;
                width: fit-content;
                position: relative;
                visibility: hidden;
                opacity: 0%;
                top: -30px;
                margin-bottom: -60px;
        
                button.comunicado-reacao-button {
                    font-size: 16pt;
                    background: none;
                    transition-duration: .1s;
                    border: none;
                    
                    &:hover {
                        transform: scale(1.25);
                        cursor: pointer;
                    }
                }
            }

            &:hover {
                cursor: pointer;

                .comunicado-reacoes-buttons {
                    visibility: visible;
                    opacity: 100%;
                }
            }
        }
    }
}

.tarefas-container {
    min-height: 80vh;
    display: block;

    .tarefa-coluna {
        vertical-align: top;
        padding: 10px;
        width: 30%;
        min-height: 80vh;
        display: inline-block;

        .tarefa-coluna-linha {
            padding: 0px 10px 0px 10px;
            border-right: 2px solid var(--nav-bg-secondary);
        }
    }
}

iframe#python-console-embedded {
    width: 100%;
    height: 50vh;
    border: none;
}

div.cards-container {
    div.card {
        border: 3px solid var(--main-color);
        width: 30%;
        height: 20vh;
        display: inline-block;
        position: relative;

        div.card-frente {
            position: relative;

            h2 {
                padding: 10px;
            }
        }
        div.card-verso {
            width: 100%;
            height: 20vh;
            color: var(--white-main);
            background-color: var(--main-color);
            transition-duration: .2s;
            position: relative;
            display: none;
            opacity: 0%;
            z-index: 1;

            p {
                margin: 0px;
                padding: 10px;
                border: none;
            }
        }

        &:hover {
            div.card-frente {
                display: none;
                opacity: 0%;
            }
            div.card-verso {
                display: block;
                opacity: 100%;
            }
        }
    }
}

nav.mensagens-nav {
    padding-top: 0px;
    padding-bottom: 0px;
}

.mensagens-users {
    background-color: var(--container-bg);
    padding: 3vw;
    width: 30%;
    max-height: 70vh;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
    vertical-align: top;

    .mensagens-users-button {
        border-bottom: 1px solid var(--container-secondary);
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: block;

        &.mensagens-novas {
            font-weight: bold;
        }

        .mensagem-recente {
            font-size: 10pt;
            font-weight: lighter;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            display: block;

            action-text-attachment, br {
                display: none;
            }
        }
    }
}

.mensagens-user {
    display: inline-block;
    padding-left: 5vw;
    width: 50%;
    max-height: 90vh;

    #mensagens-list {
        padding-left: 10px;
        padding-right: 10px;
        max-height: 60vh;
        height: 60vh;
        overflow-x: scroll;

        #mensagens-vazio {
            text-align: center;
            color: var(--gray-color);
            width: 100%;
            margin-top: 40%;
            display: block;
        }

        .mensagem-container {
            background-color: var(--container-bg);
            border-radius: 25px;
            padding: 0.5vw 1vw 0.5vw 1vw;
            margin-bottom: 5px;
            min-width: 4vw;
            max-width: 20vw;
    
            &.mensagem-nova {
                box-shadow: 0px 0px 10px var(--main-color);
            }

            &.mensagem-minha {
                margin-left: 18vw;

                &.mensagem-nova {
                    box-shadow: none;
                }
            }
    
            .mensagem-info {
                width: 90%;
                display: block;

                .mensagem-info-user {
                    display: inline-block;
                    width: fit-content;

                    a {
                        font-size: 10pt;
                        margin-bottom: 1px;
                        display: block;
                    }
                }
                .mensagem-info-data {
                    text-align: right;
                    font-size: 8pt;
                    color: var(--gray-color);
                    width: fit-content;
                    display: inline-block;
                }
            }

            .mensagem-content {
                font-size: 10pt;

                trix-toolbar {
                    display: none;
                }
                trix-editor {
                    max-height: 2vh;
                }
            }

            .mensagem-reacoes {
                .mensagem-reacoes-publicas {
                    .mensagem-reacao-icon {
                        font-size: 9pt;
                        background-color: var(--container-secondary);
                        border-radius: 10px;
        
                        strong {
                            font-size: 10pt;
                        }
                    }
        
                    .mensagem-reacoes-buttons {
                        background-color: var(--container-bg);
                        border-radius: 25px;
                        box-shadow: 2px 2px 5px black;
                        transition-duration: .2s;
                        padding: 10px;
                        width: fit-content;
                        position: relative;
                        visibility: hidden;
                        opacity: 0%;
                        top: -30px;
                        margin-bottom: -30pt;
                
                        button.mensagem-reacao-button {
                            font-size: 16pt;
                            background: none;
                            transition-duration: .1s;
                            border: none;
                            
                            &:hover {
                                transform: scale(1.25);
                                cursor: pointer;
                            }
                        }
                    }
        
                    &:hover {
                        cursor: pointer;
        
                        .mensagem-reacoes-buttons {
                            visibility: visible;
                            opacity: 100%;
                        }
                    }
                }
            }
        }
    }

    .mensagem-input-form {
        width: 100%;
        max-height: 20vh;

        trix-toolbar {
            display: none;
        }

        trix-editor {
            width: 80%;
            display: inline-block;
        }

        button#mensagem-input-form-submit {
            color: var(--red-secondary);
            background-color: var(--main-color);
            border: none;
            border-radius: 25px;
            padding: 1vw;
            display: inline-block;
            transition-duration: .2s;

            &:hover {
                color: var(--main-color);
                background-color: var(--red-dark);
                cursor: pointer;
            }
        }
    }
}
