iframe#python-console-embedded {
    width: 100%;
    height: 50vh;
    border: none;
}

div.cards-container {
    div.card {
        border: 3px solid #ff3434;
        width: 30%;
        height: 20vh;
        display: inline-block;
        position: relative;

        div.card-frente {
            position: relative;

            h2 {
                padding: 10px;
            }
        }
        div.card-verso {
            width: 100%;
            height: 20vh;
            color: #ffffff;
            background-color: #ff3434;
            transition-duration: .2s;
            position: relative;
            display: none;
            opacity: 0%;
            z-index: 1;

            p {
                margin: 0px;
                padding: 10px;
                border: none;
            }
        }

        &:hover {
            div.card-frente {
                display: none;
                opacity: 0%;
            }
            div.card-verso {
                display: block;
                opacity: 100%;
            }
        }
    }
}