<h1>Novo acesso em dispositivo</h1>
<p>
    Este é um email automático de segurança. Identificamos um novo acesso ao
    seu AVA no seguinte dispositivo:
</p>
<ul>
    <li>
        <strong>Dispositivo</strong>: <%= @login_device %>
    </li>
    <li>
        <strong>Sistema operacional</strong>: <%= @login_so %>
    </li>
    <li>
        <strong>Navegador</strong>: <%= @login_browser %>
    </li>
    <li>
        <strong>Data e hora</strong>: <%= @login_time %>
    </li>
</ul>
<p>
    Se você não reconhecer esta atividade, por favor, solicite uma alteração de senha.
    Nunca compartilhe suas credenciais de acesso e sempre se certifique de recordar suas senhas.
</p>
