<nav class="deslizar-transition">
    <h1>Acadêmico</h1>
    <ul>
        <a href="/usuarios?cargos=2">
            <li>Buscar empregados/coordenadores/professores</li>
        </a>
        <li>Consultar calendário acadêmico</li>
        <li>Buscar empregados/coordenadores/professores</li>
    </ul>
    <h1>Ensino</h1>
    <ul>
        <a href="/turmas">
            <li>Buscar turmas</li>
        </a>
        <a href="/cursos">
            <li>Buscar cursos de graduação oferecidos</li>
        </a>
        <a href="/cursos">
            <li>Buscar cursos de pós-graduação stricto-sensu oferecidos</li>
        </a>
        <a href="/cursos">
            <li>Buscar cursos de pós-graduação lato-sensu oferecidos</li>
        </a>
        <a href="/cursos">
            <li>Buscar processos seletivos de pós-graduação stricto-sensu oferecidos</li>
        </a>
        <a href="/cursos">
            <li>Buscar processos seletivos de pós-graduação lato-sensu oferecidos</li>
        </a>
    </ul>
    <h1>Pesquisa</h1>
    <ul>
        <a href="/usuarios?cargo=3,4,5,6&ic=true">
            <li>Buscar bolsistas de iniciação científica</li>
        </a>
        <a href="/cursos">
            <li>Buscar laboratórios de pesquisa</li>
        </a>
    </ul>
    <h1>Extensão</h1>
    <ul>
        <a href="/turmas">
            <li>Buscar ações de extensão</li>
        </a>
        <a href="/cursos">
            <li>Buscar eventos oferecidos</li>
        </a>
        <a href="/cursos">
            <li>Buscar diplomas e certificados virtuais</li>
        </a>
    </ul>
    <h1>Ensino</h1>
    <ul>
        <a href="/turmas">
            <li>Buscar turmas</li>
        </a>
        <a href="/cursos">
            <li>Buscar cursos oferecidos</li>
        </a>
    </ul>
</nav>