<div id="<%= dom_id unidade_disciplina %>">
  <p>
    <strong>Disciplina:</strong>
    <%= unidade_disciplina.disciplina_id %>
  </p>

  <p>
    <strong>Nome unidade:</strong>
    <%= unidade_disciplina.nome_unidade %>
  </p>

</div>
