<h1>Editing unidade disciplina</h1>

<%= render "form", unidade_disciplina: @unidade_disciplina %>

<br>

<div>
  <%= link_to "Show this unidade disciplina", @unidade_disciplina %> |
  <%= link_to "Back to unidade disciplinas", unidade_disciplinas_path %>
</div>
