:root {
    scroll-behavior: smooth;
    --cobracoral-icon-color-1: #151446;
    --cobracoral-icon-color-2: #cde4ff;
    --cobracoral-icon-color-3: #9ecbff;

    --text-color:           black;
    --main-color:             #64acff;
    --red-secondary:        #4367b4;
    --red-dark:             #151446;
    --white-main:           ghostwhite;
    
    --nav-bg:               ghostwhite;
    --nav-link:             #151446;

    --login-bg:             #64acff;
    --login-container-bg:   ghostwhite;

    --cobra-button-color:         black;
    --cobra-button-color-hover:   ghostwhite;
    --textarea-background-color:  rgb(219, 219, 224);

    --select-box-color:     black;
    --select-box-bg-color:  #64acff;

    --container-bg:   rgb(232, 232, 240);
}