:root {
    scroll-behavior: smooth;
    --text-color:           white;
    --red-main:             #971e1e;
    --red-secondary:        #a70606;
    --red-dark:             #471313;
    --white-main:           ghostwhite;
    --nav-bg:               rgb(14, 14, 14);

    --login-bg:             rgb(14, 14, 14);
    --login-container-bg:   rgb(31, 31, 31);
}