:root {
    scroll-behavior: smooth;
    --text-color:           black;
    --red-main:             #ff3434;
    --red-secondary:        #a70606;
    --red-dark:             #471313;
    --white-main:           ghostwhite;
    
    --nav-bg:               ghostwhite;
    --nav-link:             #471313;

    --login-bg:             #ff3434;
    --login-container-bg:   ghostwhite;

    --cobra-button-color:         black;
    --cobra-button-color-hover:   ghostwhite;

    --select-box-color:     black;
    --select-box-bg-color:  #ff3434;

    --container-bg:   ghostwhite;
}