:root {
    scroll-behavior: smooth;
    --cobracoral-icon-color-1: #386e14;
    --cobracoral-icon-color-2: #e2ffad;
    --cobracoral-icon-color-3: #acff11;

    --text-color:           black;
    --main-color:             #b8ff34;
    --red-secondary:        #97c727;
    --red-dark:             #386e14;
    --white-main:           ghostwhite;
    
    --nav-bg:               ghostwhite;
    --nav-link:             #386e14;

    --login-bg:             #b8ff34;
    --login-container-bg:   ghostwhite;

    --cobra-button-color:         black;
    --cobra-button-color-hover:   ghostwhite;

    --select-box-color:     black;
    --select-box-bg-color:  #b8ff34;

    --container-bg:   rgb(232, 232, 240);
}